.top {
    height: 50px !important;
    position: absolute;
}

.anchors {
    margin-top: 0%;
    padding-top: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-gray {
    padding-top: 0%;
    margin-top: 0%;
    font-size: 0.8rem;
    padding-left: 0.3%;
    text-decoration: none;
    color: #919fab;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 30px; /* Set an absolute height in pixels */
    width: auto; /* Let the width adjust proportionally */
}

.dawn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    padding-top: 0%;
}

.container {
    padding-top: 2%;
}

#second {
    border-top: 3px solid black;
    border-bottom: 1px solid gray;
    height: 2em;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }
}
