body {
    background-color: #132020 ;
    margin: 0;
    color: white;
    background-image:url("/images/background image.jpg");
    background-size: cover;
}

.card {
    background-color: #1c2d2dd3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;    
    border: none;
    border-radius: 1rem;

}

.btn{
    background-color: #132020 !important;
    color: white !important;
    border: none !important;
    padding: 0.5rem 1rem !important;
    font-size: 0.8rem !important;
    transition: transform 0.3s ease !important;
    margin-bottom: 0.9rem !important;}

.btn:hover{
    background-color: #445c66 !important;
    transform: translateY(-1px);
    cursor: pointer;
}

h3.card-title {
    color: white;
    margin-bottom: 1.5rem;
}

.extra{
    margin-top: 1rem;
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: flex-start !important;

}

.extra>a{
    color: white;
}

.form-control{
    background-color: rgba(34, 40, 43, 0.91) !important;
    color:white !important;
}

.form-label{
    color: white !important;
}