body{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: Helvetica, sans-serif;
    background-color: gray;
    display: flex;
    justify-content: center;}

#main{
    display: flex;
    flex-direction: row;
    width: 65vw;
    height: 120vh;
    background-color: white;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#sidebar{
    background-color: #364f4d;
    width: 16vw;
    height: 120%;
    border-right: 1px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-right: 0;
    position: absolute;
}

.avatar{
    width: 11.75vw;
    height: 23vh;
    padding-left: 17%;
    margin-top: 10%;
    margin-bottom: 10%
}

#contact{
    padding-top: 0;
    margin-left: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 1.5px solid white;
    margin-right: 10%;
    margin-bottom: 6%;
}

#contact>h2{
    font-size: 0.9em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
    padding-bottom: 5%;
}

#contact>p{
    font-size: 0.7em;
    margin-top: 0;
}

.contact-text{
    padding-left: 10%
}

#skills{
    padding-top: 0;
    margin-left: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 1.5px solid white;
    margin-right: 10%;
    margin-bottom: 6%;
}

#skills>h2{
    font-size: 0.9em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
    padding-bottom: 5%;
}

#skills>ul{
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#skills>ul>li{
    font-size: 0.7em;
    padding-top: 1.5%;
    margin-left: -16%
}

#languages{
    padding-top: 0;
    margin-left: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 1.5px solid white;
    margin-right: 10%;
    margin-bottom: 10%
}

#languages>h2{
    font-size: 0.9em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
    padding-bottom: 5%;
}

#languages>p{
    font-size: 0.7em;
    margin-top: 0;
    text-shadow: #fcfcfc 0 0 2px;
    margin-bottom: 2%;
}

#personal{
    padding-top: 0;
    margin-left: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 1.5px solid white;
    margin-right: 10%;
    margin-bottom: 10%
}

#personal>h2{
    font-size: 0.9em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
    padding-bottom: 5%;
}

#personal>p{
    font-size: 0.7em;
    margin-top: 0;
    margin-bottom: 2%;
}
.personal-text{
    margin-top: 0;
    margin-bottom: 2%;
    text-shadow: #fcfcfc 0 0 2px;
}

#rest-of-the-page{
    padding-left: 20%;
}

#title{
    color : #364f4d;
    margin-top: 0%;
    padding-left: 13.5vw;    

}

#title>h1{
    margin-bottom: 0;
}

#separator {
    margin-top: 1%;
    border-top: 3.5px solid black;
    border-bottom: 3.5px solid black;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
}

#professional-summary{
    margin-left: 10%;
    color: black;
    padding-top: 5%;
    margin-right: 5%;
}

#work-history, #education{
    border-top: 1px solid black;
    margin-top: 5%;
    color: black;
    margin-left: 10%;
}

#professional-summary>h2, #work-history>h2, #education>h2{
    font-size: 1.2em;
    font-weight: bold;
}

#professional-summary>p, #work-history>p, #education>p{
    font-size: 0.8em;
    margin-right: 2%;
    margin-top: -1%
}
#work-history>h2, #education>h2{
    margin-top: 0;
}


.work-title, .education-title{
    font-size: 0.95em;
    font-weight: bold;
    margin-bottom: 5%;
}


.work-date{
    font-size: 0.6em;
    float:right;
    margin-right: 20%;
    padding-top: 1%;
}

.work-location{
    font-size: 0.95em;
    padding-left: 0.5%;
    font-weight: 100;
    color: rgb(67, 62, 62);
}

#work-history>ul{
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#work-history>ul>li{
    color: rgb(67, 62, 62);
    font-size: 0.8em;
    padding-top: 1.5%;
    margin-left: -3.5%
}

.education-institute{
    font-size: 0.95em;
    font-weight: bold;
    padding-top: 10%
}
